{% load static %}
{% load filters_ %}
{% include 'object/header.html' %}
  <!--Main layout-->
  <main style="margin-top: 10vh;" class="mx-3">
    <h2 class="my-5">ABSENSI</h2>
    <div class="container-fluid p-5 shadow">     
      <form action="{% url 'updateAbsensi' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" class="col-10 form-control" value="{{ data.id }}" name="id">
        <!-- <div class="mb-2">
          <label for="mata pelajaran" class="col-2 col-form-label fw-bold">Mata Pelajaran</label>
          <select name="mapel" class="col-10 form-control" id="mapel">
            <option disabled selected value="">Pilih Mata Pelajaran</option>
            <option value="ADMIN">ADMIN</option>
          </select>
        </div> -->
        <div class="mb-5 mt-5">
          <label for="matpel" class="col-2 col-form-label fw-bold">Mata Pelajaran</label>
          <select required name="matpel" class="col-10 form-control" id="matpelPilih">
            <option disabled value="None">Kosong</option>
            {%for matpel in allMatpel%}
              <option {% if data.id_pelajaran.id == matpel.id_pelajaran.id %} selected {% endif %} value="{{matpel.singkatan}}">{{matpel.singkatan}} - {{matpel.nama}}</option>
            {%endfor%}
          </select>
          <!-- <div class='row'>
            <div class="col">
              <label for="matpel_nama" class="col-4 col-form-label fw-bold">Nama Matpel</label>
              <input type="text" class="col-10 form-control" id='matpel_nama'>
            </div>
            <div class="col">
              <label for="matpel_singkatan" class="col-4 col-form-label fw-bold">Singkatan</label>
              <input type="text" class="col-10 form-control" id='matpel_singkatan'>
            </div>
            <div class="col">
              <div class='row'>
                <label for="tambah" class="col-4 col-form-label fw-bold">Tambah</label>
              </div>
              <div class='row'>
                <button type='button' class="btn btn-primary" onclick="newMatpel()">Tambah Mata Pelajaran</button>
              </div>
            </div>
          </div> -->
        </div>      
        <div class="mb-2">
          <label for="name" class="col-2 col-form-label fw-bold">Nama Pengajar</label>
          <input type="text" class="col-10 form-control" readonly value="{{ data.id_user.username }}" name="name">
        </div>
        <div class="mb-2">
          <label for="pertemuan" class="col-2 col-form-label fw-bold">pertemuan ke</label>
          <input type="number" class="col-10 form-control" value="{{ data.pertemuan }}" name="pertemuan">
        </div>        
        <div class="mb-2">
          <label for="tanggal-kelas" class="col-2 col-form-label fw-bold">Tanggal Pembelajaran</label>
          <input type="date" class="col-10 form-control" value="" id='tanggal-kelas' name="tanggal-kelas">
          <script>
            var dateObject = new Date(`{{ data.tanggal }}`);
            // Step 2: Extract year, month, and day components
            var year = dateObject.getFullYear();
            var month = ('0' + (dateObject.getMonth() + 1)).slice(-2); // Adding 1 because months are zero-based
            var day = ('0' + dateObject.getDate()).slice(-2);

            // Step 3: Format components into "yyyy/mm/dd" format
            var formattedDate = year + '-' + month + '-' + day;
            document.getElementById('tanggal-kelas').value = formattedDate;
          </script>
        </div>
        <div class="mb-2">
          <label for="kelas" class="col-2 col-form-label fw-bold">Kelas</label>
          <input type="text" disabled class="col-10 form-control" value="{{ data.id_kelas }}" name="kelas" onchange=changeKelas(this.value)>
        </div>
        <div class="mb-2">
          <label for="materi" class="col-2 col-form-label fw-bold">Materi</label>
          <input type="text" class="col-10 form-control" value="{{ data.materi }}" name="materi">
        </div>
        <div class="mb-2">
          <label for="materi" class="col-2 col-form-label fw-bold">Catatan Tambahan</label>
          <textarea class="form-control mb-3 col-10" aria-label="With textarea" name="catatan"s="4">{{ data.catatan }}</textarea>
        </div>        
        <div class="mb-2">
          <label for="status" class="col-2 col-form-label fw-bold">Status Absensi</label>
          <input type="text" class="col-10 form-control" value="{{ data.status }}" readonly name="status">
        </div>
        <div class="mb-2">
          <label for="submit-time" class="col-2 col-form-label fw-bold">Waktu Submit</label>
          <input type="text" class="col-10 form-control" readonly value="{{ data.created_at }}" name="submit-time">
        </div>        
        <div class="mb-2">
          <label for="update-time" class="col-2 col-form-label fw-bold">Waktu Update</label>
          <input type="text" class="col-10 form-control" readonly name="update-time" value="{{ data.updated_at }}">
        </div>        
        <div class="mb-2">
          <label for="picture" class="col-2 col-form-label fw-bold">Upload Foto</label>
          <input type="file" class="col-10 form-control" name="picture">
        </div>      
        <div class="my-5">
          <input type="submit" class="btn btn-primary float" value="Update absensi">
          <a href="{% url 'absensiIndex' %}" class="btn btn-outline-danger">Batalkan</a>
        </div>
        <table id="tableSiswa" class="table table">
          <thead>
            <tr>
              <th>No.</th>
              <th>NIS</th>
              <th>Nama</th>
              <th>Kelas</th>
              <th>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkbox1" onchange="selectAllOptions(this)">
                  <label class="form-check-label" for="checkbox1">
                    Check semua hadir
                  </label>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>          
            {% for user in data.siswa_absensi_list %}
              <tr> 
                <td>{{ forloop.counter }}</td>
                <td>
                    {{ user.id_siswa.nis }}
                    <input type="hidden" class="col-10 form-control" name="nis[{{ forloop.counter }}]" value="{{ user.id_siswa.nis }}">
                </td>
                <td>
                  {{ user.id_siswa.user_profile.nama_Lengkap }}
                  <input type="hidden" class="col-10 form-control" name="siswaName[{{ forloop.counter }}]" value="{{ user.id_siswa.user_profile.nama_Lengkap }}">
                  <input type="hidden" class="col-10 form-control" name="idSiswa[{{ forloop.counter }}]" value="{{ user.id_siswa.id  }}">
                </td>
                <td>
                  {{ user.id_siswa.id_kelas }}
                  <input type="hidden" class="col-10 form-control" name="kelas[{{ forloop.counter }}]" value="{{ user.id_siswa.id_kelas.unique_id }}">
                </td>
                <td>
                  <div class="form-group">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input radio-hadir" type="radio" name="status[{{ forloop.counter }}]" id="hadir-{{ forloop.counter }}" value="hadir" {% if user.keterangan == 'hadir' %} checked {% endif %}>
                      <label class="form-check-label" for="hadir-{{ forloop.counter }}">
                        HADIR
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input radio" type="radio" name="status[{{ forloop.counter }}]" id="izin-{{ forloop.counter }}" value="izin" {% if user.keterangan == 'izin' %} checked {% endif %}>
                      <label class="form-check-label" for="izin-{{ forloop.counter }}">
                        IZIN
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input radio" type="radio" name="status[{{ forloop.counter }}]" id="sakit-{{ forloop.counter }}" value="sakit" {% if user.keterangan == 'sakit' %} checked {% endif %}>
                      <label class="form-check-label" for="sakit-{{ forloop.counter }}">
                        SAKIT
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input radio-alfa" type="radio" name="status[{{ forloop.counter }}]" id="alfa-{{ forloop.counter }}" value="alfa" {% if user.keterangan == 'alfa' %} checked {% endif %}>
                      <label class="form-check-label" for="alfa-{{ forloop.counter }}">
                        ALFA
                      </label>
                    </div>
                  </div>                  
                </td>
              </tr>                            
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>    
  </main>
  <script>
    var table = null;
    $(document).ready(function () {
      table = $('#tableSiswa').DataTable({
        paging: false,
      });
    });

    function changeKelas(kelas) {
      table.columns(3).search(kelas).draw();
    }

    function selectAllOptions(checkbox) {
      var radios_hadir = document.getElementsByClassName("radio-hadir");
      var radios_alfa = document.getElementsByClassName("radio-alfa");
      for (var i = 0; i < radios_hadir.length; i++) {
        if (checkbox.checked) {
          radios_alfa[i].checked = false;
          radios_hadir[i].checked = true;
        } else {
          radios_alfa[i].checked = true;
          radios_hadir[i].checked = false;
        }
      }
    }
  </script>  
  <!--Main layout-->
{% include 'object/footer.html' %}