{% load static %}
{% load filters_ %}
{% include 'object/header.html' %}
  <!--Main layout-->
  <main style="margin-top: 10vh;" class="mx-3">
    <h2 class="my-5">Tambah User</h2>
    <div class="container-fluid p-5 shadow">     
      <form action="{% url 'newUser' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-2">
          <label for="username" class="col-2 col-form-label fw-bold">Username</label>
          <input type="text" class="col-10 form-control" name="username">
        </div>
        <div class="mb-2">
          <label for="password" class="col-2 col-form-label fw-bold">Password</label>
          <input type="password" class="col-10 form-control" name="password">
        </div>
        <div class="mb-2">
          <label for="name" class="col-2 col-form-label fw-bold">Role</label>
          <select name="role" class="col-10 form-control" id="role">
            <option disabled selected value="SISWA">Select Role</option>
            <option value="ADMIN">ADMIN</option>
            <option value="GURU">GURU</option>
            <option value="STAFF">STAFF</option>
            <option value="SISWA">SISWA</option>
          </select>
        </div>
        <div class="mb-2">
          <label for="name" class="col-2 col-form-label fw-bold">Nama Lengkap</label>
          <input type="text" class="col-10 form-control" name="name">
        </div>
        <div class="mb-2">
          <label for="kelamin" class="col-2 col-form-label fw-bold">Jenis Kelamin</label>
          <div class="col-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="kelamin" id="lakilaki" value="Laki-Laki">
              <label class="form-check-label" for="lakilaki">
                Laki-Laki
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="kelamin" id="perempuan" value="Perempuan">
              <label class="form-check-label" for="perempuan">
                Perempuan
              </label>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label for="tempat-lahir" class="col-2 col-form-label fw-bold">Tempat Lahir</label>
          <input type="text" class="col-10 form-control" name="tempat-lahir">
        </div>
        <div class="mb-2">
          <label for="tanggal-lahir" class="col-2 col-form-label fw-bold">Tanggal Lahir</label>
          <input type="date" class="col-10 form-control" name="tanggal-lahir">
        </div>
        <div class="mb-2">
          <label for="tanggal-lahir" class="col-2 col-form-label fw-bold">Alamat</label>
          <textarea class="form-control mb-3 col-10" aria-label="With textarea" name="alamat"s="4"></textarea>
        </div>
        <div class="mb-2">
          <label for="tempat-lahir" class="col-2 col-form-label fw-bold">No. HP</label>
          <input type="text" class="col-10 form-control" name="phone">
        </div>
        <div class="mb-2">
          <label for="image-pic" class="col-2 col-form-label fw-bold">Profil Picture</label>
          <input type="file" class="col-10 form-control" name="profile-pic">
        </div>
        <div class="mb-2">
          <label for="Kategori" class="col-2 col-form-label fw-bold">Kategori</label>
          <select name="category" onchange="changeTemplate(this)" class="col-10 form-control" id="category">
            <option disabled selected >Pilih Kategori</option>
              {% for category in categoryList %}
                <option value="{{category.name}}">{{category.name}}</option>                
              {% endfor %}
          </select>
        </div>
        <a href="{% url 'addCategory' %}" class="btn btn-outline-primary">Tambah Kategori</a>
        <a href="{% url 'editCategory' %}" class="btn btn-outline-warning">Edit Kategori</a>
        <div class="mb-2">
          <label for="Kategori" class="col-2 col-form-label fw-bold">User Data</label>
          <table id="templateTable" class="table">
            <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <button onclick="addRow()" class="btn btn-outline-primary">Add Row</button>
        </div>
        
        <div class="my-5">
          <input type="submit" class="btn btn-primary float" value="Tambah User">
          <a href="{% url 'userManagementIndex' %}" class="btn btn-outline-danger">Batalkan</a>
        </div>
      </form>
    </div>    
  </main>
  <script>
    
    function deleteRow(button) {
      var row = button.parentNode.parentNode; // Get the parent row
      row.parentNode.removeChild(row); // Remove the row from the table
    }
    
    function changeTemplate(option) {
      removeAllRows()
      categoryJSON = JSON.parse(`{{categoryJSON|escapejs}}`)
      template = categoryJSON[option.selectedIndex-1]["template"]
      template.forEach(element => {
        addRow(element)
      });
    }
    
    function addRow(key="") { 
      event.preventDefault();
      var table = document.getElementById("templateTable");
      var row = table.insertRow(-1); // Insert row at the last position (-1)
  
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row.insertCell(2);
  
      cell1.innerHTML = `<td><input type="text" class="form-control" name="key" value="${key}"></td>`;
      cell2.innerHTML = `<td><input type="text" class="form-control" name="value"></td>`;
      cell3.innerHTML = '<td><button type="button" class="btn btn-danger" onclick="deleteRow(this)">Delete</button></td>';
    }

    function removeAllRows() {
      var table = document.getElementById("templateTable");
      var rowCount = table.rows.length;

      // Start from the last row and remove each row
      for (var i = rowCount - 1; i > 0; i--) {
        table.deleteRow(i);
      }
    }    
  </script>
  <!--Main layout-->
{% include 'object/footer.html' %}