{% load static %}
{% load filters_ %}
{% include 'object/header.html' %}
  <!--Main layout-->
  <main style="margin-top: 10vh;" class="mx-3">
    <h2 class="my-5">Tambah User</h2>
    <div class="container-fluid p-5 shadow">     
      <form action="{% url 'newUser' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-2">
          <label for="Authentication" class="col-2 col-form-label fw-bold">Data login (opsional)</label>
          <div class="mb-2">
            <label for="username" class="col-2 col-form-label fw-bold">Username</label>
            <input type="text" class="col-10 form-control" name="username">
          </div>
          <div class="mb-2">
            <label for="password" class="col-2 col-form-label fw-bold">Password</label>
            <input type="password" class="col-10 form-control" name="password">
          </div>
        </div>
        <hr>
        <div class="mb-2">
          <label for="name" class="col-2 col-form-label fw-bold">Role</label>
          <select required name="role" class="col-10 form-control" id="role" onchange="changeRole(this.value)">
            <option value="ADMIN">ADMIN</option>
            <option value="SISWA">SISWA</option>
            <option value="GURU">GURU</option>
            <option value="STAFF">STAFF</option>
          </select>
        </div>
        <div class="mb-2">
          <label for="name" class="col-2 col-form-label fw-bold">Nama Lengkap</label>
          <input type="text" class="col-10 form-control" name="name">
        </div>
        <div class="mb-2">
          <label for="kelamin" class="col-2 col-form-label fw-bold">Jenis Kelamin</label>
          <div class="col-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="kelamin" id="lakilaki" value="Laki-Laki">
              <label class="form-check-label" for="lakilaki">
                Laki-Laki
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="kelamin" id="perempuan" value="Perempuan">
              <label class="form-check-label" for="perempuan">
                Perempuan
              </label>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label for="tempat-lahir" class="col-2 col-form-label fw-bold">Tempat Lahir</label>
          <input type="text" class="col-10 form-control" name="tempat-lahir">
        </div>
        <div class="mb-2">
          <label for="tanggal-lahir" class="col-2 col-form-label fw-bold">Tanggal Lahir</label>
          <input type="date" class="col-10 form-control" name="tanggal-lahir">
        </div>
        <div class="mb-2">
          <label for="tanggal-lahir" class="col-2 col-form-label fw-bold">Alamat</label>
          <textarea class="form-control mb-3 col-10" aria-label="With textarea" name="alamat"s="4"></textarea>
        </div>
        <div class="mb-2">
          <label for="tempat-lahir" class="col-2 col-form-label fw-bold">No. HP</label>
          <input type="text" class="col-10 form-control" name="phone">
        </div>
        <div class="mb-2">
          <label for="image-pic" class="col-2 col-form-label fw-bold">Profil Picture</label>
          <input type="file" class="col-10 form-control" name="profile-pic">
        </div>
        <div id="roleData">

        </div>
        <div class="my-5">
          <input type="submit" class="btn btn-primary float" value="Tambah User">
          <a href="{% url 'userManagementIndex' %}" class="btn btn-outline-danger">Batalkan</a>
        </div>
      </form>
    </div>    
  </main>
  <script>
    
    function changeRole(role) {
      var dataRole = document.getElementById('roleData');
      switch (role) {
        case 'GURU':
          dataRole.innerHTML =
          `
          <div class="mb-2">
            <label for="nip" class="col-2 col-form-label fw-bold">NIP</label>
            <input type="text" class="col-10 form-control" name="nip">
          </div>
          <div class="mb-2">
            <label for="bidang_studi" class="col-2 col-form-label fw-bold">Bidang Studi</label>
            <input type="text" class="col-10 form-control" name="bidang_studi">
          </div>
          `
          break;
      
        case 'SISWA':
          dataRole.innerHTML =
          `
            <div class="mb-5 mt-5">
              <label for="kelas" class="col-2 col-form-label fw-bold">Pilih Kelas</label>
              <select required name="kelas" class="col-10 form-control" id="kelasPilih">
                <option disabled selected value="None">Kosong</option>
                {%for kelas in kelasAll%}
                  <option value="{{kelas.unique_id}}">{{kelas.tingkat}}{{kelas.grup}}</option>
                {%endfor%}
              </select>
              <div class='row'>
                <div class="col">
                  <label for="tingkat" class="col-4 col-form-label fw-bold">Tingkat kelas</label>
                  <input type="number" class="col-10 form-control" id='tingkatKelas'>
                </div>
                <div class="col">
                  <label for="grup" class="col-4 col-form-label fw-bold">Grup kelas</label>
                  <input type="text" class="col-10 form-control" id='grupKelas'>
                </div>
                <div class="col">
                  <div class='row'>
                    <label for="grup" class="col-4 col-form-label fw-bold">Tambah</label>
                  </div>
                  <div class='row'>
                    <button type='button' class="btn btn-primary" onclick="newKelas()">Tambah Kelas</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-2">
              <label for="nis" class="col-2 col-form-label fw-bold">NIS</label>
              <input type="text" class="col-10 form-control" name="nis">
            </div>
            <div class="mb-2">
              <label for="nisn" class="col-2 col-form-label fw-bold">NISN</label>
              <input type="text" class="col-10 form-control" name="nisn">
            </div>
            <div class="mb-2">
              <label for="angkatan" class="col-2 col-form-label fw-bold">Angkatan</label>
              <input type="text" class="col-10 form-control" name="angkatan">
            </div>
          `  
          break;
        default:
          dataRole.innerHTML = ``;
          break;
      }
    }
    function newKelas() {
      let tingkat = document.getElementById('tingkatKelas').value;
      let grup = document.getElementById('grupKelas').value;
      let selectKelas = document.getElementById('kelasPilih');
      let newOption = document.createElement('option');
      newOption.value = tingkat+"-"+grup;
      newOption.textContent = tingkat+grup;
      selectKelas.appendChild(newOption);
      return;
    }

  </script>
  <!--Main layout-->
{% include 'object/footer.html' %}