{% load static %}
{% load filters_ %}
{% include 'object/header.html' %}
  <!--Main layout-->
  <main style="margin-top: 10vh;" class="mx-3">
    <h2 class="my-5">Tambah User</h2>
    <div class="container-fluid p-5 shadow">     
      <form action="{% url 'newUser' %}" method="POST" >
        {% csrf_token %}
        <div class="mb-2">
          <label for="name" class="col-2 col-form-label fw-bold">Nama Lengkap</label>
          <input type="text" class="col-10 form-control" name="name">
        </div>
        <div class="mb-2">
          <label for="kelamin" class="col-2 col-form-label fw-bold">Jenis Kelamin</label>
          <div class="col-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="kelamin" id="lakilaki" value="Laki-Laki">
              <label class="form-check-label" for="lakilaki">
                Laki-Laki
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="kelamin" id="perempuan" value="Perempuan">
              <label class="form-check-label" for="perempuan">
                Perempuan
              </label>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label for="tempat-lahir" class="col-2 col-form-label fw-bold">Tempat Lahir</label>
          <input type="text" class="col-10 form-control" name="tempat-lahir">
        </div>
        <div class="mb-2">
          <label for="tanggal-lahir" class="col-2 col-form-label fw-bold">Tanggal Lahir</label>
          <input type="date" class="col-10 form-control" name="tanggal-lahir">
        </div>
        <div class="mb-2">
          <label for="tanggal-lahir" class="col-2 col-form-label fw-bold">Alamat</label>
          <textarea class="form-control mb-3 col-10" aria-label="With textarea" name="alamat"s="4"></textarea>
        </div>
        <div class="mb-2">
          <label for="tempat-lahir" class="col-2 col-form-label fw-bold">No. HP</label>
          <input type="text" class="col-10 form-control" name="phone">
        </div>
        <div class="my-5">
          <input type="submit" class="btn btn-primary float" value="Tambah Siswa">
        </div>
      </form>
    </div>
  </main>
  <!--Main layout-->
{% include 'object/footer.html' %}