{% load static %}
{% load filters_ %}
{% include 'object/header.html' %}
  <!--Main layout-->
  <main style="margin-top: 10vh;" class="mx-3">
    <h2 class="my-5">User Management</h2>
    <div class="container-fluid shadow">     
      <table class="table table-responsive table-striped">
        <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Nama</th>
              <th>ROLE</th>
              <th>No Telpon</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody>
          {% for user in data %}
            <tr>
              <td>{{ user|access_underscore_attr:"_id" }}</td>
              <td>{{ user.userInfo.0.username }}</td>
              <td>{{ user.nama_Lengkap }}</td>
              <td>{{ user.userInfo.0.role }}</td>
              <td>{{ user.no_hp }}</td>
              <td>
                  <a href="{% url 'editUser' user|access_underscore_attr:'_id' %}" class="btn btn-secondary">Edit</a>
                  <button class="btn btn-danger" onclick="if (confirm('yakin ingin menghapus ?')){ window.location.href = `{% url 'deleteUser' user|access_underscore_attr:'_id' %}`;}">Delete</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <a href="{% url 'addUser' %}" class="btn btn-outline-primary">Tambah user</a>
            </td>
        </tfoot>
      </table>

    </div>
  </main>
  <!--Main layout-->
{% include 'object/footer.html' %}