{% load static %}
{% load filters_ %}
{% include 'object/header.html' %}
  <!--Main layout-->
  <main style="margin-top: 10vh;" class="mx-3">
    <h2 class="my-5">User Feedback</h2>
    <div class="container-fluid shadow">     
      <table class="table table table-striped" id="userFeedback">
        <thead>
            <tr>
              <th>Username</th>
              <th>Feedback</th>
              <th>Tanggal</th>
              <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
          {% for feedback in data %}
            <tr>
              <td>{{ feedback.user_profile.user.username }}</td>
              <td>{{ feedback.feedback }}</td>
              <td>{{ feedback.date }}</td>
              <td>
                <button class="btn btn-danger" onclick="if (confirm('yakin ingin menghapus ?')){ window.location.href = `{% url 'deleteFeedback' feedback.id %}`;}">Delete</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <script>
      $(document).ready(function () {
        $('#userFeedback').DataTable();
      });
    </script>
  </main>
  <!--Main layout-->
{% include 'object/footer.html' %}